<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="main-nav">
                    <ul>
                      <li><a href="">Home</a></li>
                      <li><a href="16-inch-wheels">16 Inch Wheels</a></li>
                      <li><a href="17-inch-wheels">17 Inch Wheels</a></li>
                      <li><a href="18-inch-wheels">18 Inch Wheels</a></li>
                      <li><a href="wheel-centers">Wheel Centers</a></li>
                      <li><a href="wheel-accessories">Wheel Accessories</a></li>
                    </ul>
                  </nav>
                <h1><a href="/">Home</a></h1>
            </div>
        </header>
        <div class="content">
            {{ content }}
        </div>
    </body>
</html>